@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcfcfc;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 20px; /* Creates space at top when scrolling */
}
